body{
    margin: 1rem;
    background-color: white;
    font-family: 'Yusei Magic', sans-serif;
    letter-spacing: 3px;
}

/* colors */
.colors{
    color:#116466;
    color:#379683;
    color:#5CDB95;
    color:#8EE4AF;
    color:#EDF5E1;
}
.text-1{
    color: #0e0b16;
}
.text-2{
    color: #f1f1ef;
}
.bg-1{
    background-color: #dfd5d5;
}
.bg-2{
    background-color: #c39ea0;
}
.text-4{
    color:#E61C3F;
}
.bg-3{
background-color: #fa255e;
}
.bg-6{
    background-color: #9c0a31;
}
.text-3{
    color:  #fa255e;
}
.bg-4{
background-color: #0e0b16;
}
.bg-5{
background-color: #c60021;
}

.myContainer{
    width: 96vw;
    margin: auto;
    min-height: 100vh;
}

.box{
    min-height: 33vh;
    display: flex;
    justify-content: center;
}
.box-1{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    
}
.box-1-child{
    display: flex;
    flex-direction: column;
}
.cen{
    display: flex;
    justify-content: center;
}
.typ-eff{
    min-height: 33vh;
    display: flex;
    /* align-content: flex-end; */
    justify-content: flex-end;
    align-self: flex-end;
}
.typ-effs{
    min-height: 33vh;
  
}
.patterns{
    background-image: url(img/patterns.jpg);
}
a {
    color: #fff;
    text-decoration: none;
    
  }
  a:hover{
     color: floralwhite;
      
  }
.thin{
    font-weight: 50;
}

.thin:hover{
    color:#E61C3F;
    text-decoration: underline;
}

p{
    letter-spacing: 0px;
}
.banner{
    min-height: 8vh;
    background-image: url(img/patterns.jpg);
}

  
.icons i {
    padding: 0.5rem;
    background-color: #E61C3F;
    border-radius: 50%;
    transition: transform .5s ease-in-out;
    
  }

  
  
  .icons i:hover {
    /* color: #0e0b16 !important;  */
    transform: rotate(90deg);
  transform: rotate(-30deg);
  }

  .underlineEffects a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  .underlineEffects a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    /* width: 0; */
  }

  .underlineEffects a:hover:after { 
    width: 100%; 
    left: 0; 
  }